footer {
    border: 2px black solid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: #FFFF99;
    border-radius: 100px;
    height: 100px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

form {
    background-color: white;
    border: 2px solid #333;
    border-radius: 20px;
    padding: 30px 40px;
    width: 320px;
}

body {
    background-color: #fff8e7;
}