.img-card {
    padding: 5rem;
    border: #4fd9ff solid thin;
    border-radius: 50px;

    corner-shape: bevel;

    background-image: linear-gradient(5deg, #303030, black 10%, rgb(92, 85, 85) 90%);
}